// src/app/page.module.scss

.pageContainer {
  padding: 2rem;
  background-color: #FFFDF8;
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.jobContainer {
  border: 1px solid #ccc;
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: #FDF4E3;
  box-shadow: 0 0.5rem 0.875rem rgba(0, 0, 0, 0.05);
}

.jobTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #3361AE;
  margin-bottom: 0.5rem;
}

.jobInfo {
  margin: 0.25rem 0;
  font-size: 1rem;

  strong {
    font-weight: 600;
  }
}

.checkInButton {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  cursor: pointer;
  font-weight: bold;

  &.checkedIn {
    background-color: green;
    color: white;
  }

  &.checkedOut {
    background-color: white;
    color: black;
  }
}

.agGridWrapper {
  margin-top: 1rem;

  .ag-theme-alpine {
    border-radius: 0.5rem;
    overflow: hidden;
  }
}

.loadingIcon {
  margin-top: 3rem;
  width: 7rem;
  height: 7rem;
}

.searchBar {
  margin: 1.5rem 0;
  width: 100%;
  max-width: 500px;
  background-color: #FDF4E3;
}
